body {
	margin: 0;
}

button,
dd,
div,
dl,
dt,
h1,
h2,
h3,
h4,
li,
ol,
p,
ul {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
	outline: 0;
}


/*头部logo*/

.detailsLogo {
	/* background-color: #df3031; */
	text-align: center;
	position: fixed;
	left: 0;
	right: 0;
	height: 0.87rem;
	text-align: center;
	font-size: 0;
	padding: 7px 0;
	box-sizing: border-box;
	z-index: 1000;
}

.detailsLogo img {
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.topMain {
	height: 0.8rem;
}


/*关注弹窗*/

.guanzhu {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 999;
	height: 1.31rem;
	padding: 0.1rem;
	background-color: rgba(0, 0, 0, 0.8);
}

.guanzhu .logo {
	display: inline-block;
	height: 0.5rem;
	float: left;
	margin-top: 0.35rem;
	margin-left: 0.35rem;
}

.guanzhu i,
.guanzhu .gz_btn {
	float: right;
	margin-left: 0.2rem;
}

.guanzhu i {
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	font-size: 0.4rem;
	color: #fff;
	line-height: 0.3rem;
	margin-top: 0.45rem;
	margin-right: 0.05rem;
}

.guanzhu .gz_btn {
	float: right;
	background-color: #de3132;
	width: 1.66rem;
	height: 0.8rem;
	text-align: center;
	border-radius: 0.2rem;
	color: #fff;
	font-size: 0.3rem;
	line-height: 0.8rem;
	text-decoration: none;
	margin-top: 0.2rem;
	margin-right: 0.2rem;
}


/*文章详情*/

.detailsCon {
	margin: 0 auto;
	padding: 0.4rem 0;
    width: 90vw;
	/* overflow: hidden; */
}

.detailsCon .detailsTit {
	font-size: 0.4rem;
	margin: 0 0 0.2rem;
	word-break: break-all;
    font-family: Songti SC;
    font-weight: bold;
    color: rgba(51,51,51,1);
}

.detailsCon .articleInfo {
	margin-bottom: 0.1rem;
	overflow: hidden;
}

.detailsCon .articleInfo .source {
	float: left;
	padding: 0.15rem 0.15rem;
	box-sizing: border-box;
	font-size: 0.26rem;
	background-color: #e4595a;
	line-height: 0.29rem;
	color: #fff;
	border-radius: 0.1rem;
	margin-top: 0.03rem;
}

.detailsCon .articleInfo .readCount {
	float: right;
	font-size: 0.22rem;
	border: 1px solid #ccc;
	padding: 0 0.3rem;
	text-align: center;
	border-radius: 0.1rem;
	color: #808080;
}

.detailsCon .articleInfo .source em {
	font-style: normal;
	font-size: 0.3rem;
}

.detailsCon .articleInfo .date {
	float: right;
	color: #adadad;
	font-size: 0.3rem;
	line-height: 0.64rem;
}

.detailsCon .articleCon {
	margin-bottom: 0.2rem;
	overflow: hidden;
	font-size: 0.32rem;
    background-color: #fff;
}

/* .detailsCon .articleCon p {
	margin-bottom: 0.2rem;
	overflow: hidden;
} */

.detailsCon .seeInfo {
	color: #808080;
	font-size: 0.3rem;
	margin-bottom: 0.2rem;
	overflow: hidden;
}

.detailsCon .seeInfo span {
	display: inline-block;
	margin-right: 0.1rem;
}


/*点赞*/

.detailsCon .zan {
	width: 4rem;
	display: flex;
	border-radius: 5em;
	margin: 0 auto;
	padding-top: 0.6rem;
	color: #fff;
}

.detailsCon .zan>div {
	font-size: 0.28rem;
	width: 100%;
	color: #808080;
	text-align: center;
	padding: 0.2rem;
	border-radius: 0.4rem;
	box-sizing: border-box;
	display: flex;
	justify-items: center;
	padding-left: 1.2rem;
	border: 1px solid #ccc;
}

.detailsCon .zan.active div {
	background-color: #fff;
	border: 1px solid #ccc;
}

.detailsCon .zan span {
	/* color: #fff; */
	margin-left: 0.1rem;
}


/*底部*/

.footerMain {
	height: 1rem;
}

.detailsFooter {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 1rem;
	border-top: 1px solid #e6e6e6;
	padding: 0.06rem 0.1rem 0.1rem 0.15rem;
	background-color: #fff;
}

.detailsFooter .back_btn {
	float: left;
	width: 0.34rem;
	height: 0.34rem;
	font-size: 0.38rem;
	margin-right: 0.34rem;
	margin-top: 0.24rem;
	padding: 0.06rem 0;
	box-sizing: border-box;
	display: inline-block;
	text-decoration: none;
	color: #df3333;
}

.detailsFooter .coment_btn {
	box-sizing: border-box;
	border: 1px solid #e9e9e9;
	float: left;
	height: 0.8rem;
	margin-top: 0.1rem;
	line-height: 0.8rem;
	border-radius: 0.8rem;
	padding: 0 0.2rem;
	text-decoration: none;
	color: #aeaeae;
	font-size: 0.32rem;
	width: calc(100% - 0.84rem - 1rem - 0.1rem);
}

.detailsFooter .see_coment {
	position: absolute;
	right: 0.1rem;
	top: 0.35rem;
	box-sizing: border-box;
	line-height: 0.34rem;
	display: flex;
}

.detailsFooter .see_coment i {
	font-size: 0.4rem;
	color: #df3333;
	margin-right: 0.12rem;
	/* margin-top: 0.62rem; */
	/* vertical-align: 0.01rem; */
}

.detailsFooter .see_coment em {
	font-style: normal;
	font-size: 0.3rem;
	vertical-align: 0.04rem;
	color: #df3333;
}


/*返回顶部*/

.returnTop {
	position: fixed;
	width: 0.9rem;
	height: 0.9rem;
	font-size: 0.26rem;
	box-sizing: border-box;
	padding-top: 0.1rem;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 99;
	right: 0.1rem;
	bottom: 1.3rem;
	cursor: pointer;
	text-align: center;
	border-radius: 5em;
}

.returnTop i {
	display: inline-block;
	font-size: 0.4rem;
	color: #fff;
	margin-top: 0.20rem;
}

.returnTop p {
	font-size: 0.26rem;
	color: #fff;
	margin: 0;
}


/*信息弹窗*/

.infoAlt {
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 102;
}

.infoAlt p {
	width: 6rem;
	height: 2.01rem;
	font-size: 0.44rem;
	line-height: 1.8rem;
	text-align: center;
	color: #000;
	background-color: #fff;
	border-radius: 0.05rem;
	position: absolute;
	margin: -0.5rem auto 0;
	top: 50%;
	left: 0;
	right: 0;
}


/*评论弹窗*/

.comentAlt {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 101;
	background-color: rgba(0, 0, 0, 0.5);
}

.comentAlt .comentInfo {
	height: 4rem;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0 0.02rem;
	background-color: #eee;
	transform: translateY(100%);
	transition: transform 0.4s;
	-moz-transition: transform 0.4s;
	-webkit-transition: transform 0.4s;
	-o-transition: transform 0.4s;
}

.comentAlt .comentInfo.active {
	transform: translateY(0);
}

.comentAlt .comentInfo .comentTit {
	height: 0.82rem;
	line-height: 0.82rem;
	font-size: 0.18rem;
	padding: 0 0.13rem;
}

.comentAlt .comentInfo .comentTit .clearBtn {
	float: left;
	width: 1rem;
	color: #000;
	font-size: 0.32rem;
	box-sizing: border-box;
	text-decoration: none;
}

.comentAlt .comentInfo .comentTit .titText {
	float: left;
	color: #000;
	font-size: 0.4rem;
	width: calc(100% - 1rem - 1rem);
	box-sizing: border-box;
	margin: 0;
	text-align: center;
}

.comentAlt .comentInfo .comentTit .SendOut {
	float: right;
	width: 1rem;
	color: #b3b3b3;
	font-size: 0.32rem;
	box-sizing: border-box;
	text-decoration: none;
	text-align: right;
}

.comentAlt .comentInfo .comentTit .SendOut.active {
	color: #000;
}

.comentAlt .comentInfo .comentText {
	width: calc(100% - 0.46rem - 0.1rem);
	height: 2.64rem;
	border: 0.05rem solid #d2d2d2;
	border-radius: 0.03rem;
	resize: none;
	background-color: #fff;
	line-height: 1.5em;
	font-size: 0.33rem;
	color: #666;
	padding: 0.1rem;
	margin-left: 0.16rem;
}


/*评论列表*/

.comentList {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 100;
	background-color: #fefeff;
	transform: translateX(100%);
	transition: transform 0.6s;
	-moz-transition: transform 0.6s;
	-webkit-transition: transform 0.6s;
	-o-transition: transform 0.6s;
}

.comentList.active {
	transform: translateX(0);
}

.comentList .listTit {
	position: absolute;
	width: 100%;
	height: 58px;
	line-height: 58px;
	padding: 0 0.2rem;
	font-size: 0.32rem;
	font-weight: normal;
	box-sizing: border-box;
	margin: 0;
	z-index: 110;
	background-color: #fff;
	border-bottom: 1px solid #f0f0f1;
}

.comentList .listInfo {
	height: calc(100% - 0.46rem - 0.46rem);
	padding: 0 0.1rem;
	padding-top: 58px;
	overflow-y: auto;
	width: 100%;
	/* font-size: 1.36rem; */
}

.comentList .listInfo dl {
	padding-top: 0.7rem;
}

.comentList .listInfo dl dd {
	overflow: hidden;
	margin: 0 0.2rem 0.1rem;
	/* height: 100%; */
}

.comentList .listInfo .pic {
	box-sizing: border-box;
	width: 0.4rem;
	height: 0.4rem;
	border-radius: 0.05em;
	float: left;
	margin-right: 10px;
	/* overflow: hidden; */
}

.comentList .listInfo .pic img {
	width: 100%;
	height: 100%;
}

.comentList .listInfo .comentCon:nth-child(1) {
	border-top: 1px solid #f0f0f1;
}

.comentList .listInfo .comentCon {
	position: relative;
	box-sizing: border-box;
	border-bottom: 1px solid #f0f0f1;
	background-color: #fff;
	border-radius: 0.05rem;
	padding: 0.28rem 0;
	float: right;
	width: calc(100% - 0.02rem);
	font-size: 0.24rem;
}

.comentList .listInfo .comentCon .arrow {
	position: absolute;
	left: -0.08rem;
	top: 0.0rem;
	background: url('../img/sanj.png') no-repeat;
	background-size: cover;
	width: 0.08rem;
	height: 0.06rem;
}

.comentList .listInfo .comentCon .userInfo {
	margin-bottom: 0.05rem;
	font-size: 0.30rem;
	line-height: 0.40rem;
	overflow: hidden;
}

.comentList .listInfo .comentCon .userInfo .userName {
	float: left;
	color: #3E649B;
}

.comentList .listInfo .comentCon .userInfo .userName em {
	font-style: normal;
	float: left;
}

.comentList .listInfo .comentCon .userInfo .userName .reply {
	color: #333;
	margin: 0 0.05rem;
	float: left;
	text-decoration: none;
}

.comentList .listInfo .comentCon .date {
	float: right;
	color: #3E649B;
	font-size: 0.20rem;
}

.comentList .listInfo .comentCon p {
	word-wrap: break-word;
	/* line-height: 4em; */
	font-size: 0.3rem;
	color: #202020;
	margin: 0;
	padding-left: 36px;
}

.comentList .listInfo .noMessage {
	height: 0.5rem;
	line-height: 0.8rem;
	color: #999;
	text-align: center;
	font-size: 0.3rem;
	margin: 0;
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
}


/*列表底部*/

.listFooter {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 1rem;
	border-top: 1px solid #e6e6e6;
	padding: 1px 0.1rem 0;
	background-color: #fff;
}

.listFooter .back_btn {
	float: left;
	width: 0.34rem;
	height: 0.34rem;
	font-size: 0.38rem;
	margin-right: 0.1rem;
	margin-top: 0.23rem;
	padding: 0.06rem 0;
	box-sizing: border-box;
	text-decoration: none;
	color: #df3333;
}

.listFooter .coment_btn {
	box-sizing: border-box;
	border: 1px solid #e9e9e9;
	float: left;
	height: 0.8rem;
	margin-left: 0.5rem;
	margin-top: 0.1rem;
	line-height: 0.8rem;
	border-radius: 0.8rem;
	padding: 0 0.2rem;
	text-decoration: none;
	color: #aeaeae;
	font-size: 0.32rem;
	width: calc(100% - 0.84rem - 1rem - 0.1rem);
}


/*内容失效*/

.invalidWeb {}

.invalidWeb .invalidCon {
	width: 2rem;
	height: 2.1rem;
	margin: -1.05rem auto 0;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
}

.invalidWeb .invalidCon .invalidImg {
	width: 100%;
	margin-bottom: 0.2rem;
}

.invalidWeb .invalidCon p {
	text-align: center;
	font-size: 0.18rem;
	color: #000;
}


/*mescroll滚动的区域*/

.mescroll {
	position: fixed;
	/* top: 0.44rem; */
	bottom: 0.46rem;
	height: auto;
	width: calc(100% - 20rem);
}


/*展示上拉加载的数据列表*/

.data-list li {
	position: relative;
	padding: 0.1rem 0.08rem 0.1rem 1.2rem;
	border-bottom: 0.01rem solid #eee;
}

.data-list .pd-img {
	position: absolute;
	left: 0.18rem;
	top: 0.18rem;
	width: 0.8rem;
	height: 0.8rem;
}

.data-list .pd-name {
	font-size: 0.16rem;
	line-height: 0.2rem;
	height: 0.4rem;
	overflow: hidden;
}

.data-list .pd-price {
	margin-top: 0.08rem;
	color: red;
}

.data-list .pd-sold {
	font-size: 0.12rem;
	margin-top: 0.08rem;
	color: gray;
}

.mescroll-upwarp {
	padding: 0;
}

.comentAlt .comentInfo .comentTit .titText {
	font-size: 0.32rem
}


/*漂浮条*/

.floating_bar {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
	width: 84%;
	height: 40px;
	padding: 4px 12% 4px 4%;
	background: rgba(0, 0, 0, .7);
}

.logo_icon {
	float: left;
	width: 40px;
	height: 40px;
}

.logo_icon img {
	width: 100%;
	height: 100%;
	display: block;
}

.bar_about {
	float: left;
	margin-left: 10px;
	width: calc(84% - 80px);
	height: 100%;
	font-size: 0;
	line-height: 1;
	overflow: hidden;
}

.bar_about h4 {
	font-size: 16px;
	color: #FFF;
	margin-top: 2px;
	margin-bottom: 0;
}

.bar_about p {
	font-size: 12px;
	color: #FFF;
	margin-top: 7px
}

.floating_bar .open_btn {
	float: right;
	display: block;
	width: 68px;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	color: #FFF;
	border-radius: 5px;
	border: 1px solid #FFF;
	text-align: center;
	margin-top: 8px;
}

.floating_bar .close_bar {
	position: absolute;
	right: 0;
	top: 4px;
	width: 36px;
	height: 40px;
}

.floating_bar .close_bar b {
	display: block;
	width: 21px;
	height: 20px;
	background: url(../img/close_bar.png) no-repeat 0 0/cover;
	margin: 11px 0 0 6px;
}

.details img {
	width: 100%;
	margin: 8px auto;
}

#details {
    overflow: hidden;
    background-color: #fff;
}

#details>.dianzanIcon {
	position: absolute;
	z-index: 1000;
	width: 1rem;
	height: 1rem;
}

.videoDiv {
	width: 100%;
	overflow: hidden;
}
.videoDiv video{
	width: 100%;
}

/* video::-internal-media-controls-download-button {
    display: none;
}

video::-webkit-media-controls-enclosure {
    overflow: hidden;
}

video::-webkit-media-controls-panel {
    width: calc(100% + 0.95rem);
} */
 /* 图片预览 */
.img_preview_cont {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: #000;
}

.img_preview_cont img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    margin: 0 auto;
}

.swiper-container, .swiper-wrapper, .swiper-slide {
    height: 100%;
}
.rich_media_content * {
	box-sizing: border-box !important;
	max-width: 100% !important;
	height: auto;
	word-break: break-all;
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -o-pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    text-align: justify;
}

.rich_media_content video {
    white-space: normal;
    width: 100% !important;
	height: auto;
}
.rich_media_content img {
/* 	display: inline-block; */
    margin: 8px auto;
}
.rich_media_content li {
    list-style-position: inside;
    list-style-type: inherit;
}

.rich_media_content table {
    width: 100%;
}
.rich_media_content th,.preview_main td {
    padding: 5px 10px;
    border: 1px solid #ddd;
}
.rich_media_content table {
    border-collapse: collapse;
    display: table;
    margin-bottom: 10px;
}
.rich_media_content td,.rich_media_content th {
    border: 1px solid #ddd;
    padding: 5px 10px;
}
caption {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ddd #ddd currentcolor;
    border-image: none;
    border-style: dashed dashed none;
    border-width: 1px 1px 0;
    padding: 3px;
    text-align: center;
}
.rich_media_content th {
    background-color: #f7f7f7;
    border-top: 1px solid #bbb;
}

.rich_media_content td p {
    margin: 0;
    padding: 0;
}
.related_content h4{
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    color: #2c2c2c;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #F3F3F3;
}
.related_content .no_related_data{
	font-size: 13px;
    color: #ccc;
    text-align: center;
    font-weight: bold;
    line-height: 50px;
}

/* 相关阅读 start */

.special_img_div {
	position: relative;
	width: 100%;
	overflow: hidden;
	/* border-bottom: 0.09rem solid #F5F4F9; */
}

.special_img_div li:first-child {
	/* border-top: 1px solid #F3F3F3; */
	background-color: #fff;
}

.special_img_div li {
	background-color: #fff;
	width: 100%;
	padding: 0.3rem 0.20rem;
	overflow: hidden;
	box-sizing: border-box;
	border-bottom: 1px solid #F3F3F3;
}

.special_img_div li:hover {
	/* background-color: #ccc; */
}

.special_img_div a {
	display: block;
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.05rem;
}

.special_img_div a .pic {
	display: inline-block;
	box-sizing: border-box;
	overflow: hidden;
	width: 2.3rem;
	height: 1.50rem;
}

.special_img_div a .pic img {
	/*width: 100%;
height: 100%;*/
	border-radius: 0;
}

.special_img_div .multiplelist>div {
	display: flex;
	margin-bottom: 0.23rem;
}

.special_img_div .multiplelist .pic {
	display: inline-block;
	box-sizing: border-box;
	flex: 1;
	margin-right: 0.02rem;
	height: 1.50rem;
}

.special_img_div .multiplelist .pic:last-child {
	display: inline-block;
	box-sizing: border-box;
	flex: 1;
	position: relative;
	height: 1.50rem;
	margin-right: 0;
}

.special_img_div .zhe_div {
	box-sizing: border-box;
	width: calc(70%);
	vertical-align: top;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-top: 0;
	/* padding-bottom: 0.2rem; */
	padding-right: 0.2rem;
}

.special_img_div .zhe_div h2 {
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	margin-bottom: 0.12rem;
	font-size: 0.33rem;
	color: #1A1A1A;
	word-wrap: break-word;
	word-break: break-all;
}

.special_img_div span {
	font-size: 0.18rem;
	float: left;
}

.special_img_div .source {
	color: #b4b4b4;
	float: right;
	font-size: 0.18rem;
	width: 2.3rem;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.special_img_div .source i {
	/* margin-left: 1rem; */
}

.special_img_div .carInfo {
	margin-right: 0.2rem;
	display: flex;
	align-items: center;
	padding-top: 0.018rem;
	box-sizing: border-box;
}

.special_img_div .sign {
	border-radius: 0.04rem;
	color: #fff;
	font-size: 0.18rem;
	padding: 0 0.03rem;
	float: left;
	border: 0.5px solid red;
	margin-right: 0.1rem;
}

.special_img_div .carInfo i {
	font-size: 0.18rem;
}

.special_img_div .carInfo img {
	float: left;
	margin-right: 0.05rem;
	width: 0.3rem;
}

.special_img_div .carInfo em {
	color: #b4b4b4;
}

.icon-huo {
	margin-right: 0.1rem;
}

.special_img_div em,
.special_img_div i {
	font-style: normal;
}

.special_img_div .zhe_div .carInfo em {
	color: #ABABAB;
}

.special_img_div .zhe_div .source {
	color: #ccc;
	margin-left: 5px;
}

.special_img_div .zhe_div .source em {
	margin-right: 0.1rem;
}

.special_img_div .zhe_div_multiplelist span {
	font-size: 0.18rem;
	float: left;
}

/* 相关阅读 end */
.detailsCon .video_img_div{
	position: relative;
    margin-top: 0.1rem;
	position: relative;
}

.detailsCon .video_img_div .video_poster{
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
    margin: 0px auto;
    object-fit: cover;
	
}

.detailsCon .video_img_div .video_play{
	position: absolute;
	bottom: 0.1rem;
    left: 0.6rem;
	width: 1rem;
	height: 1rem;
	margin-left: -0.5rem;
	margin-top:-0.5rem;
	opacity: 0.5;
}

.detailsCon .mediaAttention{
	width: 100%;
	height: 0.75rem;
	margin-top: 12px;
	margin-bottom: 16px;
}

.detailsCon .mediaAttention .mediaHead{
	width: 0.75rem;
    height: 100%;
}

.detailsCon .mediaAttention .mediaHead img{
	width:100%;
    height:100%;
    border-radius: 32px;
}

.detailsCon .mediaAttention .mediaInfo{
    margin-left: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.detailsCon .mediaAttention .mediaInfo .mediaName{
	color: rgba(51,51,51,1);
    font-weight: 400;
	font-size: 0.25rem;
	line-height: 0.48rem;
}

.detailsCon .mediaAttention .mediaInfo .mediaTime{
	font-size: 0.22rem;
	color: #999;
	line-height: 1;
}


.date_pv_box .date {
	float: left;
}

.date_pv_box .pvnum {
	float: left;
    margin-left: 0.2rem;
}

.detailsCon .mediaAttention .mediaBtn{
	width: 1.3rem;
    height: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
	color: #fff;
	border-radius: 5px;
	font-size: 0.3em;
	font-weight: bold;
	margin-top: 0.07rem;
}

.detailsCon .mediaAttention .follow{
    color: #808080;
    border: 1px solid #ccc;
}


video{
    /* height: 3.5rem !important; */
    object-fit: contain;
}

/*添加时间及阅读量2019年10月22日10:49:56*/
.article_attribute {
	font-size: 0.22rem;
	font-family: Songti SC;
	font-weight: 400;
	color: rgba(178,175,175,1);
	line-height: 0.4rem;
	margin-bottom: 0.2rem;
}
.article_attribute span {
	display: inline-block;
	margin-right: 1.2rem;
}
