<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="og:description" content="" />
  <script src="common/plugins/vue.min.js?$$tempflag$$"></script>
  <script src="common/plugins/cube.min.js?$$tempflag$$"></script>
  <link rel="stylesheet" href="common/base/base.css?$$tempflag$$">
  <link rel="stylesheet" href="css/template-activity-sign.css?$$tempflag$$">
  <!-- 引入文稿组件样式 -->
  <title></title>
</head>
<body>
<!--报名招募浅色系-->
<div id="app" class="wrapper">
      <!-- if (messageData.statusCode === "0001") {
        console.log("无效码")
        that.showPage = 1
        that.userName = "无效码"
      } else if (messageData.statusCode === "0002") {
        console.log("无效设备")
        that.userName = "无效设备"
        that.showPage = 2
      } else if (messageData.statusCode === "0003") {
        console.log("签到成功")
        that.userName = "签到成功"
        that.showPage = 3
      } else if (messageData.statusCode === "0004") {
        console.log("签到失败")
        that.userName = "签到失败"
        that.showPage = 4
      } else if (messageData.statusCode === "0005") {
        console.log("已签到")
        that.userName = "已签到"
        that.showPage = 5
      } else if (messageData.statusCode === "0006") {
        console.log("活动已失效")
        that.userName = "活动已失效"
        that.showPage = 5
      } else if (messageData.statusCode === "0007") {
        console.log("领取礼物成功")
        that.userName = "领取礼物成功"
        that.showPage = 7
      } else if (messageData.statusCode === "0008") {
        console.log("领取礼物失败")
        that.userName = "领取礼物失败"
        that.showPage = 8
      } else if (messageData.statusCode === "9") {
        console.log("已领取礼物")
        that.userName = "已领取礼物"
        that.showPage = 9
      }
    }; -->
    <!-- 签到环节文字展示：
    1、待签到，文字：请您出示二维码签到
    2、首次签到成功，文字：欢迎xxx（先生/女士）开启JLR SPACE体验之旅
    3、重复签到，文字：亲！您已签到，期待与您再次相遇
    4、无效码，文字：亲！您的二维码无效！
    5、扫码器异常，文字：亲！我生病了，请帮我联系店员。
    6、网络异常，文字：亲！路不够通畅，请帮我联系店员。
    7、活动失效，文字：亲！活动已结束！
    
    领礼环节文字展示：
    1、待领礼物，文字：请您出示二维码领取礼品 
    2、领取成功，文字：xxx（先生/女士），礼物领取成功，期待与您再次相遇
    3、重复领取，文字：亲！您已领取礼物-期待与您再次相遇
    4、无效码，文字：亲！您的二维码无效！
    5、扫码器异常，文字：亲！我生病了，请帮我联系店员。
    6、网络异常，文字：亲！路不够通畅，请帮我联系店员。
    7、活动失效，文字：亲！活动已结束！ -->

      <div class="imgContainer" v-if='showPage==0'>
        <div class="textImg">请您出示二维码签到<span>>></span> </div>
        <div class="customerText"></div>
        <!-- <img class="textImg" src="./common/img/activityImg/screenStaus/0.svg" alt="" srcset=""> -->
        <img class="statusImg" src="./common/img/activityImg/screenStaus/0.svg" alt="" srcset="">
      </div>
      <div class="imgContainer" v-if='showPage==1'>
        <div class="textImg">亲！您的二维码无效！</div>
        <div class="customerText"></div>
        <img class="statusImg" src="./common/img/activityImg/screenStaus/0001.svg" alt="" srcset="">
      </div>
      <div class="imgContainer" v-if='showPage==2'>
        <div class="textImg">亲！我生病了，请帮我联系店员。</div>
        <div class="customerText"></div>
        <img class="statusImg" src="./common/img/activityImg/screenStaus/0002.svg" alt="" srcset="">
      </div>
      <div class="imgContainer2" v-if='showPage==3'>
        <div class="text-container">
          <div class="textImg2">欢迎{{userName}}</div><div class="textImg2">开启JLR&nbsp;SPACE体验之旅<span>>></span></div>
          <div class="customerText2"></div>
        </div>
        <img class="statusImg" src="./common/img/activityImg/screenStaus/0003.svg" alt="" srcset="">
      </div>
      <div class="imgContainer" v-if='showPage==4'>
        <div class="textImg">亲！路不够通畅，请帮我联系店员。</div>
        <div class="customerText"></div>
        <img class="statusImg" src="./common/img/activityImg/screenStaus/0004.svg" alt="" srcset="">
      </div>
      <div class="imgContainer" v-if='showPage==5'>
        <div class="textImg">亲！您已签到，期待与您再次相遇!</div>
        <div class="customerText"></div>
        <img class="statusImg" src="./common/img/activityImg/screenStaus/0005.svg" alt="" srcset="">
      </div>
      <div class="imgContainer" v-if='showPage==6'>
        <div class="textImg">亲！活动已结束！</div>
        <div class="customerText"></div>
        <img class="statusImg" src="./common/img/activityImg/screenStaus/0006.svg" alt="" srcset="">
      </div>
      <div class="imgContainer2" v-if='showPage==7'>
        <div class="text-container">
          <div class="textImg2">{{userName}}，</div><div class="textImg2">礼物领取成功，期待与您再次相遇<span>>></span></div>
          <div class="customerText2"></div>
        </div>
        <img class="statusImg" src="./common/img/activityImg/screenStaus/0003.svg" alt="" srcset="">
      </div>
      <div class="imgContainer" v-if='showPage==8'>
        <div class="textImg">亲！路不够通畅，请帮我联系店员。</div>
        <div class="customerText"></div>
        <img class="statusImg" src="./common/img/activityImg/screenStaus/0008.svg" alt="" srcset="">
      </div>
      <div class="imgContainer" v-if='showPage==9'>
        <div class="textImg">亲！您已领取礼物-期待与您再次相遇！</div>
        <div class="customerText"></div>
        <img class="statusImg" src="./common/img/activityImg/screenStaus/0009.svg" alt="" srcset="">
      </div>

  </div>

<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<!-- 文稿组件 -->
<script src="config/config.js?$$tempflag$$"></script>
<script src="common/common/common.js?$$tempflag$$"></script>
<script src="common/base/base.js?$$tempflag$$"></script>
<script src="js/template-activity-sign.js?$$tempflag$$"></script>
</body>
</html>
