<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="og:description" content="" />
  <script src="common/plugins/vue.min.js?$$tempflag$$"></script>
  <script src="common/plugins/vue-lazyload.js?$$tempflag$$"></script>
  <link rel="stylesheet" href="common/plugins/cube.min.css?$$tempflag$$">
  <script src="common/plugins/cube.min.js?$$tempflag$$"></script>
  <link rel="stylesheet" href="common/font/iconfont.css?$$tempflag$$">
  <link rel="stylesheet" href="common/base/base.css?$$tempflag$$">
  <link rel="stylesheet" href="css/template-activity-gift.css?$$tempflag$$">
  <!-- 引入文稿组件样式 -->
  <link rel="stylesheet" href="common/components/catalogue/catalogue.css?$$tempflag$$">
  <title></title>
</head>
<body>
<!--报名招募浅色系-->
<div id="app" class="wrapper">
      <!-- if (messageData.statusCode === "0001") {
        console.log("无效码")
        that.showPage = 1
        that.userName = "无效码"
      } else if (messageData.statusCode === "0002") {
        console.log("无效设备")
        that.userName = "无效设备"
        that.showPage = 2
      } else if (messageData.statusCode === "0003") {
        console.log("签到成功")
        that.userName = "签到成功"
        that.showPage = 3
      } else if (messageData.statusCode === "0004") {
        console.log("签到失败")
        that.userName = "签到失败"
        that.showPage = 4
      } else if (messageData.statusCode === "0005") {
        console.log("已签到")
        that.userName = "已签到"
        that.showPage = 5
      } else if (messageData.statusCode === "0006") {
        console.log("活动已失效")
        that.userName = "活动已失效"
        that.showPage = 5
      } else if (messageData.statusCode === "0007") {
        console.log("领取礼物成功")
        that.userName = "领取礼物成功"
        that.showPage = 7
      } else if (messageData.statusCode === "0008") {
        console.log("领取礼物失败")
        that.userName = "领取礼物失败"
        that.showPage = 8
      } else if (messageData.statusCode === "9") {
        console.log("已领取礼物")
        that.userName = "已领取礼物"
        that.showPage = 9
      }
    }; -->
    <div class="imgContainer" v-if='showPage==0'><img src="common/img/activityImg/1.jpg" alt="" srcset=""></div>
    <div class="imgContainer" v-if='showPage==1'><div class="name">{{userName}}</div></div>
    <div class="imgContainer" v-if='showPage==2'><img src="common/img/activityImg/2.jpg" alt="" srcset=""><div class="name">{{userName}}</div></div>
    <div class="imgContainer" v-if='showPage==3'><div class="name">{{userName}}</div></div>
    <div class="imgContainer" v-if='showPage==4'><div class="name">{{userName}}</div></div>
    <div class="imgContainer" v-if='showPage==5'><div class="name">{{userName}}</div></div>
    <div class="imgContainer" v-if='showPage==6'><div class="name">{{userName}}</div></div>
    <div class="imgContainer" v-if='showPage==7'><div class="name">{{userName}}</div></div>
    <div class="imgContainer" v-if='showPage==8'><div class="name">{{userName}}</div></div>
    <div class="imgContainer" v-if='showPage==9'><div class="name">{{userName}}</div></div>
</div>

<script src="common/plugins/moment.js?$$tempflag$$"></script>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/larkplayer@latest/dist/larkplayer.js"></script>
<script src="https://unpkg.com/larkplayer-ui@latest/dist/larkplayer-ui.js"></script>
<script src="//cdn.yunshicloud.com/axios/0.18.0/axios.min.js"></script>
<script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="config/config.js?$$tempflag$$"></script>
<!-- 文稿组件 -->
<script src="common/components/catalogue/catalogue.js?$$tempflag$$"></script>
<script src="common/common/common.js?$$tempflag$$"></script>
<script src="common/plugins/xyAuth.js?$$tempflag$$"></script>
<script src="common/base/base.js?$$tempflag$$"></script>
<script src="js/template-activity-gift.js?$$tempflag$$"></script>

<script>
  Vue.use(VueLazyload,{
  })
</script>

</body>
</html>
