<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="og:description" content="" />
  <script src="common/plugins/vue.min.js?$$tempflag$$"></script>
  <script src="common/plugins/cube.min.js?$$tempflag$$"></script>
  <link rel="stylesheet" href="common/base/base.css?$$tempflag$$">
  <link rel="stylesheet" href="css/template-activity-gift.css?$$tempflag$$">
  <!-- 引入文稿组件样式 -->
  <title></title>
</head>
<body>
<!--报名招募浅色系-->
<div id="app" class="wrapper">
      <!-- if (messageData.statusCode === "0001") {
        console.log("无效码")
        that.showPage = 1
        that.userName = "无效码"
      } else if (messageData.statusCode === "0002") {
        console.log("无效设备")
        that.userName = "无效设备"
        that.showPage = 2
      } else if (messageData.statusCode === "0003") {
        console.log("签到成功")
        that.userName = "签到成功"
        that.showPage = 3
      } else if (messageData.statusCode === "0004") {
        console.log("签到失败")
        that.userName = "签到失败"
        that.showPage = 4
      } else if (messageData.statusCode === "0005") {
        console.log("已签到")
        that.userName = "已签到"
        that.showPage = 5
      } else if (messageData.statusCode === "0006") {
        console.log("活动已失效")
        that.userName = "活动已失效"
        that.showPage = 5
      } else if (messageData.statusCode === "0007") {
        console.log("领取礼物成功")
        that.userName = "领取礼物成功"
        that.showPage = 7
      } else if (messageData.statusCode === "0008") {
        console.log("领取礼物失败")
        that.userName = "领取礼物失败"
        that.showPage = 8
      } else if (messageData.statusCode === "9") {
        console.log("已领取礼物")
        that.userName = "已领取礼物"
        that.showPage = 9
      }
    }; -->
    <div class="imgContainer" v-if='showPage==0'>
      <div class="textImg">请您出示二维码领取礼品<span>>></span> </div>
      <div class="customerText"></div>
      <!-- <img class="textImg" src="./common/img/activityImg/screenStaus/0.svg" alt="" srcset=""> -->
      <img class="statusImg" src="./common/img/activityImg/screenStaus/00.svg" alt="" srcset="">
    </div>
    <div class="imgContainer" v-if='showPage==1'>
      <div class="textImg">亲！您的二维码无效！</div>
      <div class="customerText"></div>
      <img class="statusImg" src="./common/img/activityImg/screenStaus/0001.svg" alt="" srcset="">
    </div>
    <div class="imgContainer" v-if='showPage==2'>
      <div class="textImg">亲！扫码器异常</div>
      <div class="customerText"></div>
      <img class="statusImg" src="./common/img/activityImg/screenStaus/0002.svg" alt="" srcset="">
    </div>
    <div class="imgContainer" v-if='showPage==3'>
      <div class="textImg">欢迎{{userName}}开启JLR&nbsp;SAPCE体验之旅！<span>>></span></div>
      <div class="customerText"></div>
      <img class="statusImg" src="./common/img/activityImg/screenStaus/0003.svg" alt="" srcset="">
    </div>
    <div class="imgContainer" v-if='showPage==4'>
      <div class="textImg">亲！网络异常！</div>
      <div class="customerText"></div>
      <img class="statusImg" src="./common/img/activityImg/screenStaus/0004.svg" alt="" srcset="">
    </div>
    <div class="imgContainer" v-if='showPage==5'>
      <div class="textImg">亲！您已签到-切勿重复签到哦！</div>
      <div class="customerText"></div>
      <img class="statusImg" src="./common/img/activityImg/screenStaus/0005.svg" alt="" srcset="">
    </div>
    <div class="imgContainer" v-if='showPage==6'>
      <div class="textImg">亲！活动已结束！</div>
      <div class="customerText"></div>
      <img class="statusImg" src="./common/img/activityImg/screenStaus/0006.svg" alt="" srcset="">
    </div>
    <div class="imgContainer" v-if='showPage==7'>
      <div class="textImg">{{userName}}，期待与您再次相遇<span>>></span></div>
      <div class="customerText"></div>
      <img class="statusImg" src="./common/img/activityImg/screenStaus/0007.svg" alt="" srcset="">
    </div>
    <div class="imgContainer" v-if='showPage==8'>
      <div class="textImg">亲！网络异常！</div>
      <div class="customerText"></div>
      <img class="statusImg" src="./common/img/activityImg/screenStaus/0008.svg" alt="" srcset="">
    </div>
    <div class="imgContainer" v-if='showPage==9'>
      <div class="textImg">亲！您已领取礼物-切勿重复领取礼物哦！</div>
      <div class="customerText"></div>
      <img class="statusImg" src="./common/img/activityImg/screenStaus/0009.svg" alt="" srcset="">
    </div>

  </div>

<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<!-- 文稿组件 -->
<script src="config/config.js?$$tempflag$$"></script>
<script src="common/common/common.js?$$tempflag$$"></script>
<script src="common/base/base.js?$$tempflag$$"></script>
<script src="js/template-activity-gift.js?$$tempflag$$"></script>
</body>
</html>
