<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="og:description" content="" />
    <script src="common/plugins/vue.min.js?$$tempflag$$"></script>
    <script src="common/plugins/vue-lazyload.js?$$tempflag$$"></script>
    <link rel="stylesheet" href="common/plugins/cube.min.css?$$tempflag$$">
    <script src="common/plugins/cube.min.js?$$tempflag$$"></script>
    <link rel="stylesheet" href="common/plugins/element-ui/element-2.13.0.css">
    <script src="common/plugins/element-ui/element-2.13.0.js"></script>
    <link rel="stylesheet" href="common/font/iconfont.css?$$tempflag$$">
    <link rel="stylesheet" href="common/base/base.css?$$tempflag$$">
    <link rel="stylesheet" href="css/template-activity-h5.css?$$tempflag$$">
    <!-- 引入文稿组件样式 -->
    <link rel="stylesheet" href="common/components/catalogue/catalogue.css?$$tempflag$$">
    <title></title>
</head>
<body>
<!--签到专用深色模板-->
<div id="app" class="wrapper">
    <div class="content">
        <div class="content-wrap">
            <div class="content-container">
                <div class="scroll">
                  <!-- 申请卡片 -->
                  <div class="immediatelyApplyWrapper" v-if="isApplyFlag && !vipCardFlag">
                      <div class="carDTips" v-cloak>
<!--                          <img src="./common/img/applyBg.jpg" alt="">-->
                      </div>
                      <div class="immediatelyApplyBtn" v-cloak>
                          <cube-button :primary="true" @click="handleApply" v-if="isExpireFlag">立即申请</cube-button>
                          <cube-button :primary="true" :disabled="true" style="background: #ccc" v-else>立即申请</cube-button>
                      </div>
                  </div>
                  <!-- 资料填写 -->
                  <div class="writeInfoContainer" v-if="!isApplyFlag && !vipCardFlag" v-cloak>
                      <emp-write-info :userinfocachekey="userInfoCacheKey"></emp-write-info>
                  </div>
                  <!-- 卡片详情-->
                  <div class="vipCardWrapper" v-if="vipCardFlag" v-cloak>
                      <p> {{vipName}}
                          <span>{{gender=='1'?'先生':(gender=='2'?'女士':'')}}</span>
                      </p>
                      <div id="qrcode" class="qrewmCode"></div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
<template class="hide" id="emp_writeInfo">
    <div class="emp_writeInfoTemplate">
<!--        <div class="emp_writeInfoIntroduce">-->
<!--            <img src="./common/img/vipImg.jpg" alt="">-->
<!--        </div>-->
        <div class="writeInfo_inputWrapper">
            <cube-input v-model="submitName" @input="handlePhoneChange" placeholder='姓名'></cube-input>
            <cube-input v-model="model.userPhone" @input="handlePhoneChange" placeholder='手机号'></cube-input>
            <div class="get_code_wrap clearfloat" >
                <cube-input class="get_code_input fl emp_tempInput" maxlength="4" v-model="model.userCode" placeholder='验证码'></cube-input>
                <span class="get_code fr">
                    <span v-if="sendAuthCode"
                          class="c-right"
                          @click="getCode">获取验证码</span>
                    <span v-if="!sendAuthCode"
                          class="c-right">
                    <span class="auth_text_blue">{{auth_time}}</span>秒后重新获取</span>
                </span>
            </div>
            <div class="tc submit-button">
                <div class="submit-cubeBtn">
                    <cube-button type="button" :inline="true"  v-if="alreadySubmit" @click="handleApplySubmint">
                        立即领取
                    </cube-button>
                    <cube-button type="button" :disabled="true" :inline="true" v-else style="background: #ccc">
                        已提交
                    </cube-button>
                </div>
            </div>
        </div>
    </div>
</template>
<script src="common/plugins/moment.js?$$tempflag$$"></script>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://unpkg.com/larkplayer@latest/dist/larkplayer.js"></script>
<script src="https://unpkg.com/larkplayer-ui@latest/dist/larkplayer-ui.js"></script>
<script src="//cdn.yunshicloud.com/axios/0.18.0/axios.min.js"></script>
<script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="config/config.js?$$tempflag$$"></script>
<!-- 文稿组件 -->
<script src="common/components/catalogue/catalogue.js?$$tempflag$$"></script>
<script src="common/common/common.js?$$tempflag$$"></script>
<script src="common/plugins/xyAuth.js?$$tempflag$$"></script>
<script src="common/plugins/qrcode.min.js?$$tempflag$$"></script>
<script src="common/base/base.js?$$tempflag$$"></script>
<script src="js/template-activity-h5.js?$$tempflag$$"></script>

<script>
  Vue.use(VueLazyload,{
  })
  //粗暴的禁止整个页面的滑动
  document.body.addEventListener('touchmove', function (e) {
    e.preventDefault()
  }, {passive: false})
</script>

</body>
</html>
