<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="pragma" content="no-cache">
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <script src="common/plugins/vue.min.js"></script>
  <link rel="stylesheet" href="common/plugins/cube.min.css">
  <script src="common/plugins/cube.min.js"></script>
  <title>Title</title>
</head>
<body>
<div id="app">
  <div>
    <!--    <cube-input v-model="text0" placeholder="Required11"/>-->
    <!--    <cube-validator ref="validator0" v-model="result[0]" :model="text0" :rules="rules0"/>-->
    <!--    <cube-input v-model="text1" placeholder="E-mail22"/>-->
    <!--    <cube-validator ref="validator1" v-model="result[1]" :model="text1" :rules="rules1"/>-->
    <!--    <cube-input v-model="text2" placeholder="TEL333"/>-->
    <!--    <cube-validator ref="validator2" v-model="result[2]" :model="text2" :rules="rules2"/>-->
    <!--    <cube-button @click="submit">Submit</cube-button>-->
    <cube-form
        :model="model"
        :schema="schema"
        :immediate-validate="false"
        :options="options"
        @validate="validateHandler"
        @submit="submitHandler"
        @reset="resetHandler"></cube-form>
    <!--    <cube-input v-model="text" placeholder="E-mail"></cube-input>-->
    <!--    <cube-validator v-model="valid" :model="text" :rules="rules" :messages="messages"></cube-validator>-->
  </div>

</div>
<template>
  <div>

  </div>
</template>
</body>
<script src="common/plugins/moment.js"></script>
<script src="//cdn.yunshicloud.com/jquery/3.2.1/jquery.min.js"></script>
<script src="config/config.js"></script>
<script src="common/base/base.js"></script>
<script>
  // province, city, area
  // select component
  new Vue({
    el: '#app',
    data() {
      return {
        validity: {},
        valid: undefined,
        model: {
          checkboxValue: false,
          checkboxGroupValue: [],
          inputValue: '',
          radioValue: '',
          rateValue: 0,
          selectValue: 2018,
          switchValue: true,
          textareaValue: '',
          uploadValue: []
        },
        schema: {
          groups: [
            {
              legend: '基础',
              fields: [
                {
                  type: 'checkbox',
                  modelKey: 'checkboxValue',
                  props: {
                    option: {
                      label: 'Checkbox',
                      value: true
                    }
                  },
                  rules: {
                    required: true
                  },
                  messages: {
                    required: 'Please check this field'
                  }
                },
                {
                  type: 'checkbox-group',
                  modelKey: 'checkboxGroupValue',
                  label: 'CheckboxGroup',
                  props: {
                    options: ['1', '2', '3']
                  },
                  rules: {
                    required: false
                  }
                },
                {
                  type: 'input',
                  modelKey: 'inputValue',
                  label: 'Input',
                  props: {
                    placeholder: '请输入'
                  },
                  rules: {
                    required: true
                  },
                  // validating when blur
                  trigger: 'blur'
                },
                {
                  type: 'radio-group',
                  modelKey: 'radioValue',
                  label: 'Radio',
                  props: {
                    options: ['1', '2', '3']
                  },
                  rules: {
                    required: true
                  }
                },
                {
                  type: 'select',
                  modelKey: 'selectValue',
                  label: 'Select',
                  props: {
                    options: [2015, 2016, 2017, 2018, 2019, 2020]
                  },
                  rules: {
                    required: true
                  }
                },
                {
                  type: 'switch',
                  modelKey: 'switchValue',
                  label: 'Switch',
                  rules: {
                    required: true
                  }
                },
                {
                  type: 'textarea',
                  modelKey: 'textareaValue',
                  label: 'Textarea',
                  rules: {
                    required: true
                  },
                  // debounce validate
                  // if set to true, the default debounce time will be 200(ms)
                  debounce: 100
                }
              ]
            },
            {
              legend: '高级',
              fields: [
                {
                  type: 'rate',
                  modelKey: 'rateValue',
                  label: 'Rate',
                  rules: {
                    required: true
                  }
                },
                {
                  type: 'upload',
                  modelKey: 'uploadValue',
                  label: 'Upload',
                  events: {
                    'file-removed': (...args) => {
                      console.log('file removed', args)
                    }
                  },
                  rules: {
                    required: true,
                    uploaded: (val, config) => {
                      return Promise.all(val.map((file, i) => {
                        return new Promise((resolve, reject) => {
                          if (file.uploadedUrl) {
                            return resolve()
                          }
                          // fake request
                          setTimeout(() => {
                            if (i % 2) {
                              reject(new Error())
                            } else {
                              file.uploadedUrl = 'uploaded/url'
                              resolve()
                            }
                          }, 1000)
                        })
                      })).then(() => {
                        return true
                      })
                    }
                  },
                  messages: {
                    uploaded: '上传失败'
                  }
                }
              ]
            },
            {
              fields: [
                {
                  type: 'submit',
                  label: 'Submit'
                },
                {
                  type: 'reset',
                  label: 'Reset'
                }
              ]
            }
          ]
        },
        options: {
          scrollToInvalidField: true,
          layout: 'standard' // classic fresh
        }
      }
    },
    methods: {
      submitHandler(e) {
        e.preventDefault()
        console.log('submit', e)
      },
      validateHandler(result) {
        this.validity = result.validity
        this.valid = result.valid
        console.log('validity', result.validity, result.valid, result.dirty, result.firstInvalidFieldIndex)
      },
      resetHandler(e) {
        console.log('reset', e)
      }
    }
  })

  // export default {
  //   data() {
  //     return {
  //       validity: {},
  //       valid: undefined,
  //       model: {
  //         checkboxValue: false,
  //         checkboxGroupValue: [],
  //         inputValue: '',
  //         radioValue: '',
  //         rateValue: 0,
  //         selectValue: 2018,
  //         switchValue: true,
  //         textareaValue: '',
  //         uploadValue: []
  //       },
  //       schema: {
  //         groups: [
  //           {
  //             legend: '基础',
  //             fields: [
  //               {
  //                 type: 'checkbox',
  //                 modelKey: 'checkboxValue',
  //                 props: {
  //                   option: {
  //                     label: 'Checkbox',
  //                     value: true
  //                   }
  //                 },
  //                 rules: {
  //                   required: true
  //                 },
  //                 messages: {
  //                   required: 'Please check this field'
  //                 }
  //               },
  //               {
  //                 type: 'checkbox-group',
  //                 modelKey: 'checkboxGroupValue',
  //                 label: 'CheckboxGroup',
  //                 props: {
  //                   options: ['1', '2', '3']
  //                 },
  //                 rules: {
  //                   required: true
  //                 }
  //               },
  //               {
  //                 type: 'input',
  //                 modelKey: 'inputValue',
  //                 label: 'Input',
  //                 props: {
  //                   placeholder: '请输入'
  //                 },
  //                 rules: {
  //                   required: true
  //                 },
  //                 // validating when blur
  //                 trigger: 'blur'
  //               },
  //               {
  //                 type: 'radio-group',
  //                 modelKey: 'radioValue',
  //                 label: 'Radio',
  //                 props: {
  //                   options: ['1', '2', '3']
  //                 },
  //                 rules: {
  //                   required: true
  //                 }
  //               },
  //               {
  //                 type: 'select',
  //                 modelKey: 'selectValue',
  //                 label: 'Select',
  //                 props: {
  //                   options: [2015, 2016, 2017, 2018, 2019, 2020]
  //                 },
  //                 rules: {
  //                   required: true
  //                 }
  //               },
  //               {
  //                 type: 'switch',
  //                 modelKey: 'switchValue',
  //                 label: 'Switch',
  //                 rules: {
  //                   required: true
  //                 }
  //               },
  //               {
  //                 type: 'textarea',
  //                 modelKey: 'textareaValue',
  //                 label: 'Textarea',
  //                 rules: {
  //                   required: true
  //                 },
  //                 // debounce validate
  //                 // if set to true, the default debounce time will be 200(ms)
  //                 debounce: 100
  //               }
  //             ]
  //           },
  //           {
  //             legend: '高级',
  //             fields: [
  //               {
  //                 type: 'rate',
  //                 modelKey: 'rateValue',
  //                 label: 'Rate',
  //                 rules: {
  //                   required: true
  //                 }
  //               },
  //               {
  //                 type: 'upload',
  //                 modelKey: 'uploadValue',
  //                 label: 'Upload',
  //                 events: {
  //                   'file-removed': (...args) => {
  //                     console.log('file removed', args)
  //                   }
  //                 },
  //                 rules: {
  //                   required: true,
  //                   uploaded: (val, config) => {
  //                     return Promise.all(val.map((file, i) => {
  //                       return new Promise((resolve, reject) => {
  //                         if (file.uploadedUrl) {
  //                           return resolve()
  //                         }
  //                         // fake request
  //                         setTimeout(() => {
  //                           if (i % 2) {
  //                             reject(new Error())
  //                           } else {
  //                             file.uploadedUrl = 'uploaded/url'
  //                             resolve()
  //                           }
  //                         }, 1000)
  //                       })
  //                     })).then(() => {
  //                       return true
  //                     })
  //                   }
  //                 },
  //                 messages: {
  //                   uploaded: '上传失败'
  //                 }
  //               }
  //             ]
  //           },
  //           {
  //             fields: [
  //               {
  //                 type: 'submit',
  //                 label: 'Submit'
  //               },
  //               {
  //                 type: 'reset',
  //                 label: 'Reset'
  //               }
  //             ]
  //           }
  //         ]
  //       },
  //       options: {
  //         scrollToInvalidField: true,
  //         layout: 'standard' // classic fresh
  //       }
  //     }
  //   },
  //   methods: {
  //     submitHandler(e) {
  //       e.preventDefault()
  //       console.log('submit', e)
  //     },
  //     validateHandler(result) {
  //       this.validity = result.validity
  //       this.valid = result.valid
  //       console.log('validity', result.validity, result.valid, result.dirty, result.firstInvalidFieldIndex)
  //     },
  //     resetHandler(e) {
  //       console.log('reset', e)
  //     }
  //   }
  // }
</script>

</html>
