#app {
    background-color: #ffffff;
}

.content-wrap {
    padding-left: 10px;
    padding-right: 10px;
}

/*活动信息开始*/
.user_info_wrap {
    position: relative;
}

.user_info_poster {
    position: relative;
    height: 0;
    background-color: #dbdbdb;
    padding-top: 59.2%;
}

.user_info_poster img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.user_title {
    font-size: 20px;
    font-weight: bold;
    line-height: 2;
    margin-top: 5px;
    margin-bottom: 5px;
}

.user_basics {
    font-size: 14px;
    margin-top: 10px;
}

.user_basics i {
    margin-right: 5px;
}

.button-date {
    padding-left: 0;
    padding-right: 0;
    text-align: left;
    color: inherit;
    background: none;
    border: none;
}

.button-date:active {
    background: none;
}

/*活动信息结束*/

/*文案信息开始*/
.emp_writing_wrap {
    margin-bottom: 20px;
}

.emp_writing_title {
    font-size: 20px;
    line-height: 1.5;
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
}

.emp_writing_content {

}

/*文案信息结束*/
.get_code_wrap {
    font-size: 14px;
}

.get_code {
    width: 7em;
    float: left;
    line-height: 40px;
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
}

.get_code_input {
    width: calc(100% - 7em);
    float: left;
}

/*自定义form样式*/
.emp-form-item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 15px;
}

.emp-form-label {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    word-wrap: break-word;
    word-break: break-word;
}

.emp-form-field {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    font-size: 14px;
}
