*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

html{
  width:100%;
  height: 100%;
}
body {
  width:1920px;
  height:1080px;
  overflow: auto;
}
#app{
  width:1920px;
  height:1080px;
    background: url(../common/img/activityImg/00.png) no-repeat;
    position: relative;
}
.text{
  position: absolute;
  background: transparent;
  color: #fff;
  font-size: 60px;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: left;
  align-items: center;
  bottom: 200px;
  left:75px;
}

.wrapper .statusImg{
  width:100px;
  height:100px;
  position: absolute;
  bottom:80px;
  right:80px;
}
.wrapper .textImg{
  width:100px;
  height:100px;
  position: absolute;
  bottom:350px;
  left:50px;
}
.wrapper div.textImg{
  width:1800px;
  height:100px;
  font-size:56px;
  color:#fff;
  position: absolute;
  bottom:350px;
  left:116px;
  letter-spacing: 12px;
}
.wrapper div.textImg span{
  letter-spacing: -16px;
}
.wrapper .customerText{
  position: absolute;
  bottom:280px;
  height:56px;
  width: 1800px;
  left:116px;
  background: url(../common/img/activityImg/screenStaus/customerText.svg) no-repeat;
}