html{
  height: 100%;
  font-size: 26.66666666vw;
}
body {
  height: 100%;
  overflow: hidden;
}
#app {
    background-color: #ffffff;
    height: 100%;
    overflow: scroll;
}
.content{
    height: 100%;
}
.content-wrap {
    height: 100%;
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
}
.content-container {
    height: 100%;
    position: relative;
}
.scroll{
    /*position:absolute;*/
    /*overflow:scroll;*/
    /*-webkit-overflow-scrolling: touch;*/
    /*top:0;*/
    /*left:0;*/
    /*bottom:0;*/
    /*right:0;*/
}

[v-cloak] {
  display: none;
}

/*vip卡片详情*/
.vipCardWrapper {
    width: 100%;
    height: 100%;
    position: absolute;
}
.vipCardWrapper img {
    width: 100%;
    display: block;
}

/*申请卡片*/
.immediatelyApplyWrapper {
    width: 100%;
    height: 100%;
    background:url('../common/img/vipApply.png') no-repeat;
    background-size: 100% 100%;
}
.carDTips {
    width: 100%;
    height: 100%;
}
.carDTips img {
    width: 100%;
    height: 100%;
    display: block;
}
.immediatelyApplyBtn {
    width: 60%;
    text-align: center;
    position: absolute;
    top: 49%;
    left: 0.95rem;
}
.immediatelyApplyBtn .cube-btn {
    width: 80%;
    border-radius: 4rem;
    display: block;
    padding: 0.12rem 0.16rem;
}

/*资料填写*/
.writeInfoContainer,.emp_writeInfoTemplate,.bindPhoneWrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
.writeInfoContainer,.bindPhoneWrapper {
    background:url('../common/img/vipApply.png') no-repeat;
    background-size: 100% 100%;
}
.emp_writeInfoIntroduce {
    position: absolute;
    left: 21%;
    top: 12%;
}
.writeInfoWrapper {
    width: 100%;
}
.writeInfo_inputWrapper {
    width: 100%;
    position: absolute;
    top: 38%;
    left: 0.36rem;
    display: block;
}
.writeInfo_inputWrapper.bindPhoneVipWrapper {
    top: 40%;
    left: 0.36rem;
}
.writeInfo_inputWrapper .cube-input {
    width: 80%;
    display: block;
    margin-bottom: 0.12rem;
    background: transparent;
}

.writeInfo_inputWrapper .cube-input:after {
    border-radius: 4rem;
    border-color: #fc9153;
}
.writeInfo_inputWrapper .cube-input-field {
    padding: 10px 20px;
}
/*获取验证码*/
.writeInfo_inputWrapper .get_code_wrap .cube-input {
    width: 52%;
    display: inline-block;
}
.get_code_wrap {
    font-size: .14rem;
    overflow: hidden;
    text-align: center;
    width: 80%;
    display: block;
}
.get_code {
    width: 8em;
    float: left;
    line-height: 0.4rem;
    height: 0.4rem;
    text-align: center;
    box-sizing: border-box;
    border: 0;
    background: #fc9153;
    border-radius: 4rem;
    margin-left: 0.24rem;
    color: #fff;
}
.get_code_input {
    width: calc(100% - 7em);
    float: left;
}
.submit-button {
    width: 80%;
    display: block;
    margin-top: 0.2rem;
}
.submit-button .cube-btn-inline {
    display: block;
}
.submit-cubeBtn .cube-btn{
    width: 100%;
    border-radius: 4rem;
    height: 0.38rem;
    border: 0;
    background: #fc9153;
    font-size: .14rem;
}
/*更改提示框样式*/
.cube-toast .cube-popup-content {
    color: #626262;
    background: #F3F3F3;
    padding: 0.4rem 0.42rem;
    box-shadow: 0px 0px 20px 0px rgba(219,219,219,1);
    border-radius: 4px;
}
.cube-popup-center .cube-popup-content, .cube-popup-left .cube-popup-content, .cube-popup-right .cube-popup-content {
    top: -66%;
}
/*更改弹框icon背景色*/
.cube-dialog-icon i {
    background-color: #fc9153;
    color: #fff;
}
/*二维码位置*/
.qrewmCode {
    width: 1.58rem;
    /* height: 22%; */
    position: absolute;
    top: 3rem;
    left: 1.12rem;
}

/*禁止按钮样式*/
.cube-btn_disabled:after {
    border: 0;
}
.vipName {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 2.05rem;
    color: #fff;
    font-size: 0.18rem;
}
.gender {
    margin-right: 0.14rem;
}

/*导航按钮*/
.navigation {
    width: 2.4rem;
    height: 0.65rem;
    position: absolute;
    bottom: 0.28rem;
    left: 0.66rem;
}